$smoky-purple: #758195;
$graphite-gray: #46494E;
$neutral-gray: #5C5C5C;
$border-gray: #9A9A9A;
$light-cool-gray: #F6F6F7;
$background-gray: #A2A2A2;
$green-light: #4EBB46;
$green-opasity: #6CB767;
$green: #15950C;

